<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>globalHotkey</key>
	<dict>
		<key>keyCode</key>
		<integer>111</integer>
		<key>modifiers</key>
		<integer>8390912</integer>
	</dict>
	<key>shortcuts</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGuCwwWLS41Pj9HSFBRWVpVJG51
	bGzSDQ4PFVpOUy5vYmplY3RzViRjbGFzc6UQERITFIACgAWAB4AJgAuADd0XGBkaGw4c
	HR4fICEiIyQlJiYoJCkjKislLFhzaXplUm93c18QD3NlbGVjdGlvbkVuZFJvd18QEXNl
	bGVjdGlvblN0YXJ0Um93WnN1YmRpdmlkZWRWZ2xvYmFsXxASc2VsZWN0aW9uRW5kQ29s
	dW1uV2VuYWJsZWRbc2l6ZUNvbHVtbnNXbmFtZUtleVxrZXlDb21ib0NvZGVfEBRzZWxl
	Y3Rpb25TdGFydENvbHVtbl1rZXlDb21ib0ZsYWdzEAYQBRAACAiABAmAAxADEgAIAABU
	RnVsbNIvMDEyWiRjbGFzc25hbWVYJGNsYXNzZXNYU2hvcnRjdXSiMzRYU2hvcnRjdXRY
	TlNPYmplY3TdFxgZGhsOHB0eHyAhIiM2JSYmKCQpIzs8JT0QAggIgAQJgAYQERIACAAA
	U1RvcN0XGBkaGw4cHR4fICEiIyQlJiYoJCkjREUrRggIgAQJgAgQDxIACAAAVVJpZ2h0
	3RcYGRobDhwdHh8gISIjJCsmJigkKSNNTiVPCAiABAmAChALEgAIAABWQm90dG9t3RcY
	GRobDhwdHh8gISIjJCUmJig2KSNWVyVYCAiABAmADBAlEgAIAABUTGVmdNIvMFtcXk5T
	TXV0YWJsZUFycmF5o1tdXldOU0FycmF5WE5TT2JqZWN0AAgAEQAaACQAKQAyADcASQBM
	AFEAUwBiAGgAbQB4AH8AhQCHAIkAiwCNAI8AkQCsALUAxwDbAOYA7QECAQoBFgEeASsB
	QgFQAVIBVAFWAVcBWAFaAVsBXQFfAWQBaQFuAXkBggGLAY4BlwGgAbsBvQG+Ab8BwQHC
	AcQBxgHLAc8B6gHrAewB7gHvAfEB8wH4Af4CGQIaAhsCHQIeAiACIgInAi4CSQJKAksC
	TQJOAlACUgJXAlwCYQJwAnQCfAAAAAAAAAIBAAAAAAAAAF8AAAAAAAAAAAAAAAAAAAKF
	</data>
	<key>useGlobalHotkey</key>
	<true/>
</dict>
</plist>
